.wrapper{
    padding: 16px;
}

.submit{
    background-color: purple;
    color: white;
    height: 36px;
}

.search_bar{
    width: 80%;
    height: 36px;
    margin-left: 16px;
    padding-left: 16px;
    font-size: 16px;
}